/*six-caps*/
@import url('https://fonts.googleapis.com/css2?family=Six+Caps');

/* Helvetica */
@import url("./fonts/style.css");

.six-caps-regular {
    font-family: "Six Caps", sans-serif;
    font-weight: 900;
    font-style: normal;
    /* line-height: 0.10; */
    text-transform: uppercase;
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}
